<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Yelp User Activity</title>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        
        <!-- Leaflet CSS & JS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />

         <!-- Project CSS -->
        <link href="{{ url_for('static', filename='styles/style.css') }}">

        <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <!-- Leaflet CSS & JS -->
        <script src="https://d3js.org/d3.v4.min.js"></script>

        <style type="text/css">
            #map-1 {
                height: 500px;
                margin: 30px 1% 0 1%;
                border-radius: 3px;
                border-style: solid; 
                border-width: thin;
                border-color: rgb(218, 217, 217);
                -webkit-box-shadow: 5px 5px 8px -1px rgba(135,135,135,0.21);
                -moz-box-shadow: 5px 5px 8px -1px rgba(135,135,135,0.21);
                box-shadow: 5px 5px 8px -1px rgba(135,135,135,0.21);
            }
        </style>

        <style type="text/css">
            #legend {
                z-index: 1;
                height: 10px;
                width: 10px;
            }
        </style>

        <style type="text/css">
            .logo-header {
                max-width: 20%;
                max-height: 200px;
                display: inline-block;
                position: relative;
                margin-bottom: 30px;            }
        </style>


    </head>
    <body>

        <div class="container-fluid text-center">
            <div class="row head">
                <div class="header" style="margin:auto">
                <img class="logo-header" src="{{ url_for('static', filename='images/Yelp_trademark_RGB.png') }}" alt="Yelp Logo">
                </div>
                <div class="header"style="margin:auto">
                    <h1><font color="red">Top Cities & Categories Dash</font></h1>
                </div>
            </div>

            <div class="row">
                <div class="btn-group">
                    <div class="btn-group">
                        <button class="btn btn-danger dropdown-toggle" id="statebtn" type="button" data-toggle="dropdown">State <span class="caret"></span></button>
                        <ul class="dropdown-menu" id="stateList">
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-danger dropdown-toggle" id="categorybtn" type="button" data-toggle="dropdown">Category <span class="caret"></span></button>
                        <ul class="dropdown-menu" id="categoryList">
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Map -->
            <div class="row">
                <h3 id="map-1-title"></h3>
                <div id="map-1"> </div>
            </div>
            <hr>

            <!-- Plotly charts -->
            <div class="row">
                <div class="col-md-6">
                    <div id="plotly-bar"></div>
                </div>
                <div class="col-md-6">
                    <div id="plotly-bubble"></div>
                </div>
                <div class="row"></div>
                <hr>
            </div>
            <hr>

            <!-- Data Table -->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-header">
                        <h3><font color="red">Detailed Data Table</font></h3>
                        <p><i>Sorted by average review sentiment</i></p>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead align="left">
                            <tr>
                                <th>Business Name</th>
                                <th>Category</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Avg. Star Rating</th>
                                <th># of Reviews</th>
                                <th>Avg. Review Sentiment</th>
                            </tr>
                        </thead>
                        <tbody align="left">                     
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                <button id="load-btn" class="btn btn-primary">Load More Data</button>
              </div>
            </div>    

<!--
            <div class="row">
                <div class="col-md-6">
                    <div id="table-header">
                        <h2>Top 5 Cities <span class="stateInsert"></span> By # of Reviews</h2>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>City</th>
                                <th>State</th>
                                <th>Stars</th>
                                <th>Reviews</th>
                                <th>Category</th>
                                <th>Sentiment Score</th>
                            </tr>
                        </thead>
                        <tbody id="city-review-table">
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <div id="table-header">
                        <h2>Top 5 Cities <span class="stateInsert"></span> By <span class="glyphicon glyphicon-star"></span> Rating</h2>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>City</th>
                                <th>State</th>
                                <th>Stars</th>
                                <th>Reviews</th>
                                <th>Category</th>
                                <th>Sentiment Score</th>
                            </tr>
                        </thead>
                        <tbody id="city-rating-table">
                             
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div id="table-header">
                        <h2>Top 5 Category By # of Reviews</h2>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>State</th>
                                <th>Stars</th>
                                <th>Reviews</th>
                                <th>Sentiment Score</th>
                            </tr>
                        </thead>
                        <tbody id="category-review-table">
                            
                        </tbody>
                    </table>
                </div>

                <div class="col-md-6">
                    <div id="table-header">
                        <h2>Top 5 Category By <span class="glyphicon glyphicon-star"></span> Rating</h2>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>State</th>
                                <th>Stars</th>
                                <th>Reviews</th>
                                <th>Sentiment Score</th>
                            </tr>
                        </thead>
                        <tbody id="category-review-table">
                              
                        </tbody>
                    </table>
                </div>
            </div>
-->
        </div>
        
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 

    <!-- Our JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_charts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/table.js') }}"></script>
   
</body>


</html>